/build
/build-*/
/CMakeFiles
/CMakeCache.txt
/cmake_install.cmake
/CPackConfig.cmake
/CPackSourceConfig.cmake
/*.pkg.tar.*
/pkg
/src
/*.deb
/*.rpm
/*.tar.gz
/*.tar.xz
/*.tar.zst
*.o
*.obj
*.a
*.so
*.dylib
*.dll
*.exe
*.log
.DS_Store
Thumbs.db
.cache
.idea
.vscode
